//
// Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies).
// All rights reserved.
// This component and the accompanying materials are made available
// under the terms of "Eclipse Public License v1.0"
// which accompanies this distribution, and is available
// at the URL "http://www.eclipse.org/legal/epl-v10.html".
//
// Initial Contributors:
// Nokia Corporation - initial contribution.
//
// Contributors:
//
// Description:
//


// Used within the build process to export the correct files for the supported devices
// Uncomment only one of the devices definied in  listed below

//#define            TEST_DEVICE_DEVLON52
//#define            TEST_DEVICE_TUBE
#define              TEST_DEVICE_H4HRP
//#define            TEST_DEVICE_H6HRP

