code
	{
	font-family: monospace;
	background-color: #FFFDDF;
	padding:1px;
	border:1px solid #EEECCE;
	}

body
	{
	background-color: #FFFFFF;
	font-family: verdana, sans-serif;
	font-size: 12px;
	}
