body {  background-color: #FFFFFF; margin: 0px 0px 0px 0px; font-family: Arial, sans-serif;  font-size : 10pt;  color: #000000; margin: 9px;}

table {
    border-collapse: collapse;
    padding: 2px;
    margin-bottom: 0;
    border-color: #000000;
}

td, th {
    empty-cells: show;
    padding: 0.1em 0.2em;
    vertical-align: top;
    text-align: left;
	font-size: 10pt;
	border-color: #000000;
}
